.fa {
  padding: 10px;
  font-size: 1rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}            
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.cabeza {
    text-align: center;
}

.title {
    font-size: 84px;
    margin-top: 2rem;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.sponsor {
    padding: 1rem;
}

.sponsor_sec {
    padding: 1rem;
    /*background-color: #c8c8c8;*/
}
.sponsor_div {
    margin-top: 1rem;
}

nav {
    background-color: #004e83;
    max-height: 55px;
    vertical-align: center;
}

nav img {
    max-height: 44px;
    margin-top: 3px;
    margin-bottom: 3px;
}

header #redes {
    display: none;
}

@media screen and (max-width: 576px) {
  #redes {
    display: none;
  }
  
  nav {
    text-align: center;
  }

  header #redes {
    display: inline; 
}
}

.encabezado {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #d07400;
  border-radius: 0.3rem;
  color: #5e0808;
}

@media (min-width: 576px) {
  .encabezado {
    padding: 2rem;
  }
}

