body {
	background-color: #015289;
}

.header-1 {
	padding:20px 0px;
}

.social-media > a {
	font-size: 2rem;
	color: #fff;
	margin-top: 10px;
	padding: 20px;
}

.header-1 , .principal {
	margin-top: 5px;
}

.link-portada > a {
	color: white;
	font-size: 1.5rem;
}
/*
.noticia {
	margin-bottom: 5px;
}

.panel-heading{
	background-color: #e6e1e1;
	height: 85px;
	border-radius: 5px;
}
.panel-body {
	background-color: none;
	text-align: left;
	color: black;
	min-height: 120px;
}
.panel-footer {
	background-color: #e6e1e1;
	border-radius: 5px;
}*/

