body {
	background-color: #9AFE2E;
	position: relative; 
}

.header-1 {
	padding:20px 0px;
}

.social-media > a {
	font-size: 2rem;
	color: #fff;
	margin-top: 10px;
	padding: 20px;
}

.header-1 , .principal {
	margin-top: 5px;
}

.link-portada > a {
	color: white;
	font-size: 1.5rem;
}

  #section1 {background-color: #1E88E5;}
  #section2 {background-color: #673ab7;}
  #section3 {background-color: #ff9800;}
  #section41 {background-color: #00bcd4;}
  #section42 {background-color: #009688;}

  .sec_principal {
  	padding-top:50px;
  	height:400px;
  	color: #fff;
  }